@font-face {
  font-family: Garamond, Verdana;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Garamond, Verdana;
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: Garamond, Verdana;
  font-weight: italic;
  font-style: italic;
}
