@font-face {
  font-family: "Courier New", serif, monospace;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Courier New", serif, monospace;
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Courier New", serif, monospace;
  font-weight: italic;
  font-style: italic;
}
